body {
	background-color: #464444;
}

.links {
	display: flex;
	gap: 5px;
}

.count {
	color: red;
}

.button {
	background-color: red;
	padding: 10px 20px;
}

.value {
	font-size: 70px;
}

a {
	color: white;
}
