.card {
	padding: 25px 15px;
	width: 300px;
	display: flex;
	gap: 10px;
	flex-direction: column;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.img_wrap {
	display: flex;
	justify-content: center;
}

.content_card {
	height: 175px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: end;
	gap: 10px;
}
